:root {
  --lotto-purple: rgba(59, 49, 99);
  --lotto-orange: rgba(208, 113, 33);
}

* {
  padding: 0px;
  margin: 0px;
  font-size: 1rem;
  box-sizing: content-box;
  font-family: 'roboto', sans-serif;

  /* Debugging */
  /* border-color: red;
  border-style: solid;
  border-width: 1px; */
}

h1, h2 {
  font-weight: bold;
}

header {
  color: white;
  background-color: var(--lotto-purple);
  padding: 20px;
}

.heading-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}

.main-heading, .sub-heading {
  margin: 0px;
  padding: 0px;
}

.main-heading {
  font-size: 2rem;
}

.sub-heading {
  font-size: 1.4rem;
}

ul, ol {
  list-style-type: none;
  font-weight: bold;
}

.statistic {
  display: inline-block;
  opacity: 0%;
  transform: translateX(20px);
  font-weight: normal;
}

.statistic.in-view {
  opacity: 100%;
  transform: translate(0);
  transition: opacity 1s ease, transform 1s ease;
}

.icon {
  width: 60px;
  padding-left: 10px;
  padding-right: 10px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.play-area {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: auto;
}

.play-summary, .lotto-play, .lotto-result {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card {
  box-shadow: 7px 7px 0px var(--lotto-orange);
  background-color: var(--lotto-purple);
  color: white;
  padding: 20px;

}

.play-controls {
  display: flex;
  gap: 10px;
}

button {
  padding: 5px 20px 5px 20px;
  border-radius: 25px;
  color: white;
  background-color: var(--lotto-orange);
  border-style: none;
  font-weight: bold;
  transition-duration: 0.3s;
  border: 2px solid transparent; /* reserve the space on hover */
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: var(--lotto-purple);
  border-color: white;
}

button.disabled-button {
  color: white;
  background-color: var(--lotto-orange);
  opacity: 0.6;
  cursor: not-allowed;
  border: 2px solid transparent;
}

select:hover {
  cursor: pointer;
  opacity: 0.5;
}

.line-dropdown {
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
}

.ball-container {
  display: flex;
  gap: 10px;
}

.ball {
  background-color: white;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: black;
  font-weight: bold;
  font-size: 1.3rem;
  opacity: 0;

  border-style: solid;
  border-width: 3px;
}

.ball.in-view {
  opacity: 100%;
  transition: opacity 1s ease;
}

.bonus {
  border-left-style: dashed;
  border-left-width: 3px;
  border-left-color: white;
}

.bonus .ball {
  margin-left: 10px;
}

.outcome {
  display: flex;
  flex-direction: column;
  gap: 15px;
  opacity: 0%;
  transform: translateY(100%);
}

.outcome.in-view {
  opacity: 100%;
  transform: translate(0);
  transition: opacity 1s ease, transform 1s ease;
}

.outcome-header {
  display: flex;
  justify-content: space-between;
}

.outcome-fraction {
  font-size: 1.4rem;
  opacity: 0%;
}

.outcome-fraction.in-view {
  opacity: 100%;
  transition: opacity 1s ease;
}

.outcome h2 {
  opacity: 0%;
  transform: translateX(100px);
}

.outcome h2.in-view {
  opacity: 100%;
  transform: translate(0);
  transition: opacity 1s ease, transform 1s ease;
}

.outcome-prize {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  display: none;
}
